*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-image: url(Images/Image.jpg);
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.quiz{
    text-align: center;

}

h1{
    margin-top: 0;
    color: #333;

}

h3{
    color: #333;
    margin: 10px;
}

.display {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

input[type="button"]:hover {
    background-color: #45a049;
}